
body { 
  font-family:tahoma;
  line-height: 1,5;
}
p {
  color: #434b4d;
}
article {
  color: crimson;
}
  article p {
  color:cadetblue;
  }

.resaltado {
  color:red;
  width: 50%;
}  
.btn {
  text-decoration: none;
  text-transform: uppercase;
  color:wheat;
  background-color: rgb(73, 15, 73);
  border: solid rgb(129, 23, 179);
}
  .btn-danger {
    color:white;
    background-color: rgb(184, 24, 162);
  }
  .btn-border {
    border: solid rgb(246, 156, 10);
  }
nav {
  background-color: rgb(34, 108, 177);
  border: solid darkolivegreen;
}